.education {
  margin: 5%;
}

.education h6 {
  margin: 0;
  padding: 4rem 0 2rem;
  font-size: 3rem;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.education p {
  text-align: center;
  font-family: 'Space Mono', monospace;
}