.portfolio-item {
  position: relative;
  justify-content: center;
  margin: 2rem;
  background-color: rgba(76, 76, 77, 0.986);
  width: 400px;
  height: 400px;
}

.mockup-image {
  position: absolute;
  margin: 1.5em;
  background-color: rgba(76, 76, 77, 0.986);
  border-radius: 10%;
  padding: 20px;
}

.desktop-image {
  position: absolute;
  width: 262px;
  height: 147px;
  z-index: 3;
  border: none;
  background-color: transparent;
  top: 64px;
  left: 66px;
}

.portfolio-item-text-container {
  padding: 1rem;
  background-color: rgba(25, 25, 25, 0.85);
  position: absolute;
  padding: 1rem;
  height: 100%;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
  padding-top: 0;
  color: hsl(240, 0%, 50%);
  z-index: 5;
}

.portfolio-item-text {
  margin: 0.5em;
  font-family: "Space Mono", monospace;
}

.portfolio-item-text-container h5 {
  font-size: 1.5em;
  
}

.portfolio-item-text-container .description {
  text-align: justify;
}

.live-link, .code-link {
  background-color: rgba(76, 76, 77, 0.7);
  padding: 10px;
  color: white;
  text-decoration: none;
  margin: 0 .5rem;
  float: right;
  font-family: "Space Mono", monospace;
}
