@keyframes introduceMockup {
  0% {opacity: 100%;}
  100% {opacity: 0%;}
}

.carousel-wrapper {
  width:100%;
  height: 100%;
  position: absolute;
}

.mockup-carousel {
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
  animation-name: introduceMockup;
  animation-duration: 1s;
}

.mockup-image {
  position: absolute;
  background-color: transparent;
  margin: 1.5em;
  background-color: transparent;
  
}

.screenshot {
  z-index: 3;
  
}

.desktop-image {
  position: relative;
  bottom: 37px;
  width: 262px;
  height: 147px;
}

.laptop-image {
  width: 237px;
  height: 149px;
}

.tablet-image {
  width: 97px;
  height: 123px;
}

.mobile-image {
  width: 51px;
  height: 97px;
}