.navbar {
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: "Space Mono", monospace;
  position: fixed;
}

.title {
  color: white;
  margin-left: 1em;
  
}

.nav {
  height: 100%;
  position: relative;
}

.full-menu {
  display: flex;
  visibility: hidden;
  padding-inline-start: 0;
  
}

.title a, .full-menu a {
  color: white;
  text-decoration: none;
}

/* Small breakpoint */
@media screen and (min-width: 576px) {
  .title {
    padding: 1rem;
    margin-left: 0;
  }
}

/* Large breakpoint */
@media screen and (min-width: 992px) {
  .full-menu {
    visibility: visible;
  }
  .full-menu li {
    list-style: none;
    margin: 0 2rem;
  }
}