.navbar {
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: "Space Mono", monospace;
  position: fixed;
}

.title {
  color: white;
  padding: 1rem;
}

.nav {
  height: 100%;
  position: relative;
}

.full-menu {
  display: flex;
  visibility: hidden;
}

.full-menu a {
  color: white;
  text-decoration: none;
}

/* Large breakpoint */
@media screen and (min-width: 992px) {
  .full-menu {
    visibility: visible;
  }
  .full-menu li {
    list-style: none;
    margin: 0 2rem;
  }
}