.intro {
  padding-top: 16rem;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(65,65,65,1) 45%);
}

.intro-text-container {
  max-width: 60%;
  margin: auto;
}

.intro h6 {
  margin: 0;
  padding: 4rem 0 2rem;
  font-size: 3rem;
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.intro p {
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
}

/* Medium Breakpoint */
@media screen and (max-width:768px) {
  .intro {
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(65,65,65,0.05) 35%);
  }
}

/* X-small breakpoint */
@media screen and (max-width:575px) {
  .intro {
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(65,65,65,0.05) 25%);
  }
}
